/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* Start Here*/
.mainmenu {
    width: 100%;
}

.mainmenu-wrapper {
    background-color: #FFF;
    border-bottom: 4px solid #960000;
    z-index: 4;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mainmenu > ul > li, .mainmenu .mainmenu-submenu-inner > li {
    display: inline-block;
}

.mainmenu li.logo-wrapper a {
    border-right: 1px solid #E8E8E8;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.mainmenu > ul > li > a, .mainmenu .mainmenu-submenu-inner > li > a {
    font-size: 1.2em;
    padding: 2.2em .5em;
    color: #999;
    display: inline-block;
    text-decoration: none;
}

footer {
    background: #003500;
    color: #dddddd;
    padding: 0 20px 10px 20px;
    border-top: 4px solid #960000;
    margin-top: 20px;
    -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
    box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
    color: 0 -1px 12px rgba(0,0,0,0.4);
    position: fixed;
    margin-top: 50px;
    bottom: 0;
    width: 100%;  
}

.footer-copyright {
    text-align: center;
    color: #dddddd;
    padding-top: 10px;
    font-size: 0.9em;
}

.section-breadcrumbs {
    background: #2b943a;
    background: rgba(26, 121, 40, 0.9);
    margin-bottom: 10px;
}

.section .container:first-child h1, .section .container:first-child h2, .section .container:first-child h3 {
    margin-top: 0;
    font-weight: 700;
}

.section-breadcrumbs h1 {
    color: #FAFAFA;
    font-size: 1.6em;
    margin-bottom: 0;
    text-transform: none;
}


/* Login Css */
 
    body.regLog {
        background-color: #444;
        background: url(https://portal.nysc.org.ng/nysc1/Images/nysc1.jpg);
        background-size: cover;
    }
    .form-signin input[type="text"] {
        margin-bottom: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .vertical-offset-100 {
        padding-top: 100px;
    }
    .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    }
    .panel {
    margin-bottom: 20px;
    /*background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
    }

    .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 15px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.blog-sidebar ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.comment-date {
    font-size: 0.9em;
    margin-right: 20px;
}

.verify-container{
    width: 100%;
    margin: 0px 15px;
}

@media (min-width: 1200px){  
    .verify-container {
        width: 1170px;
    }
}
@media (min-width: 992px){
    .verify-container {
        width: 970px;
    }
}

@media (min-width: 768px){
    .verify-container {
        width: 750px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}