@{
    ViewBag.Title = "Home Page";
}

<div class="section section-white">
    <div class="container" style="width: 97%;">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-2 blog-sidebar" style="padding-left:5px;padding-right:4px">
                <h4 style="margin-bottom: 5px;">Actions</h4>
                <div id="ctl00_menucontainer" role="navigation" class="navcollapse">
                    <ul id="accordion" class="accordion">
                        <li>
                            <a href="corpHome" id="ctl00_ahome" style="text-decoration: none">
                                <div class="link"><i class="fa fa-hand-o-right"></i>My Dashboard</div>
                            </a>
                        </li>
                        <li>
                            <a href="CorpChangePassword" id="ctl00_achangepass" style="text-decoration: none">
                                <div class="link"><i class="fa fa-hand-o-right"></i>Change Password</div>
                            </a>
                        </li>

                        <li>
                            <a href="CourseCorrection.aspx" id="ctl00_a1" style="text-decoration: none">
                                <div class="link"><i class="fa fa-hand-o-right"></i>Course Correction</div>
                            </a>
                        </li>

                        <li>
                            <a href="home?logout=true" id="ctl00_alogout" style="text-decoration: none">
                                <div class="link"><i class="fa fa-hand-o-right"></i>Log out</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
